# Backend
backend/venv/
__pycache__/
*.pyc
backend/scripts/migrate_passwd.py   

# Frontend
frontend/node_modules/

# Environment variables
.env

# OS / Editor
.vscode/
.DS_Store

#extra files
postgre_logs_*.sql
index.html