body {
  font-family: Arial, sans-serif;
  background-color:rgba(97, 17, 158, 0.969);
}

.page {
  padding: 20px;
  color:bisque
}

.card {
  background-color: #222;
  padding: 7px;
  border: 1px solid #ccc;
  width: 300px;
  color:aquamarine
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 8px;
}

.navbar {
  color: black;
  padding: 10px;
  font-size: 24px;
}
