:root {
  --bg-dark: #020617;
  --bg-light: #f8fafc;
  --card-bg: #ffffff;

  --primary: #2563eb;
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;

  --text-dark: #0f172a;
  --text-light: #64748b;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg-light);
  color: var(--text-dark);
}
